<div class="contenedor-fin"><br><br><br>
        <h1>¡Felicitaciones @ViewBag.username!</h1>
        <h3>¡Completaste el juego con un puntaje total de: @ViewBag.puntajeActual!</h3><br><br>
        <img src="/img/todoslospersonajkes.png" alt="personajes"><br><br>

        <a class="btn btn-primary" href='@Url.Action("ConfigurarJuego")' role="button" style=" width: 230px">Volver a Jugar</a><br>
    </div>