
    <section class="title ">
        <p class="text-center">PreguntadORT</p>
        <a class="btn btn-secondary btn-lg" href='@Url.Action("ConfigurarJuego", "Home")'>Comenzar a jugar</a>
    </section>

