

<div class="configuracion container_pagina">

    <a href='@Url.Action("Index", "Home")' class="exit btn btn-danger ToLeft">Salir del juego</a>

    <p style="color: rgb(119, 26, 206); font-size: 1vw;"><strong> Username | puntaje</strong></p>



    <div class="confJuego2">

       @if(@ViewBag.Correcta)
       {
        <p>¡Es correcto!</p>

        <div>
            <img src="img/gifs/correcto.gif" alt="" height="60%" width="60%">
        </div>

        <a class="btn btn-light btn-lg btn-outline-dark" id="boton" style="width: 13vw;" href='@Url.Action("Juego", "Home")'>SIGUIENTE</a>

       }
       else
       {
        <p>Intenta otra vez...</p>

        <div>
            <img src="img/gifs/incorrecto.gif" alt="" height="60%" width="40%">
        </div>

        <a class="btn btn-light btn-lg btn-outline-dark" id="boton" style="width: 13vw;" href='@Url.Action("Juego", "Home")'>SIGUIENTE</a>
       }

    </div>
</div>



    


