html
{
    height: 100% !important;
    width: 100% !important;
}
.index
{
    background-image: url("../img/gifs/index.gif");
}

.configuracionFondo
{
    background-image: url("../img/gifs/configuracion.gif");
    background-size: cover;
}


.title
{
    margin-top: 20%;
    color: white;
    font-size: 8vw;
    text-align: center;
}

.configuracion
{
    background-color: rgb(86, 0, 167) !important;
}

.confJuego
{
    font-size: 2vw;
    margin-top: 3%;
    text-align: center;
}

.confJuego p
{
    margin-top: 3.5%;
    margin-bottom: 3.5%;
    color: rgb(228, 198, 255);
}

#id{
    height: 3% !important;
    width: 3% !important;
}

input[type="text"]::placeholder
{
    text-align: center;
}

.container_pagina
{
    padding: 3vw;
}

.confJuego2
{
    font-size: 2vw;
    margin-top: 3%;
    text-align: center;
}


.confJuego2 P
{
    margin-top: 3.5%;
    margin-bottom: 3.5%;
    color: rgb(255, 255, 255);
}

.confJuego2 img
{
    margin-bottom: 3.5%;
}

.exit
{
    display: flex !important;
    flex-direction: row-reverse;
}

.ToLeft
{
    float: left;
    left: 90%;
    z-index: 0;
    position: absolute;
}

.contenedor-fin 
{
    margin-top: 2em;
    background: rgb(255, 255, 255);
    border: 0.5em solid rgb(103, 39, 141);
    border-radius: 5em;
    width: 70em;
    height: 55em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .contenedor-fin h1 
  {
    color: black;
    font-size: 36px;
    font-weight: bold;
    font-family: "Fredoka One", sans-serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding-bottom: 30px;
  }
  
  .contenedor-fin img 
  {
    justify-content: center;
    margin-top: 5em;
    max-width: 50em;
    max-height: 60em;
  }